<article class="review">
  <div class="title">
    <a href="{{review}}" target="_blank">{{title}}</a>
  </div>
  <div class="meta">
    <a href="/review/{{id}}">{{review.length}} </a>
  </div>
</article>