<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestest Book Review Site Evers</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Bestest Book Review Site Evers</a>
            </h1>
            <button id="logout" class="btn-no-style">logout</button>
            <a href="/login">login</a>

        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            "That's just like your opinion man." The Dude
        </footer>
    </div>
    <script src="/javascript/logout.js"></script>
</body>

</html>