<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestest Book Review Site Evers</title>
     <link rel="stylesheet" href="/stylesheets/style.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
</head>

<<<<<<< HEAD
<body>
    <div class="wrapper">
        <header class="hero">
=======
<body class= "hero is-large is-link is-bold">
    
    <div class="">
        <header class = "hero is-large is-link">
>>>>>>> 175588c8bbe75cf6a1836a76e15b71eeb15df5f5
                <h1>
                    <a  class = "title is-1 has-text-danger" href="/">Bestest Book Review Site Evers</a>
                </h1>
                {{#if loggedIn}}
                <a id="logout" href="/" class="btn-no-style has-text-right">logout</a>
                {{else}}
                <a class= "has-text-right" href="/login">login</a>
                {{/if}}
        </header >
        <main class= "hero is-large is-link is-bold">
            {{{ body }}}
        </main>
        <footer class= "hero is-large is-link is-bold">
            "That's just like your opinion man." The Dude
        </footer>
    </div>

    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>