<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestest Book Review Site Evers</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header calss ="hero">
                <h1>
                    <a href="/">Bestest Book Review Site Evers</a>
                </h1>
                {{#if loggedIn}}
                <a id="logout" href="/" class="btn-no-style">logout</a>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            "That's just like your opinion man." The Dude
        </footer>
    </div>

    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>