<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestest Book Review Site Evers</title>
 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="container wrapper">
        <header class ="container hero">
                <h1 class="brown lighten-2-text">
                    <a href="/">Bestest Book Review Site Evers</a>
                </h1>
                {{#if loggedIn}}
                <div class="row">
                        <div class="col s6 offset-s6"
                <a id="logout" href="/" class="btn-no-style">logout</a>
                {{else}}
                <a href="/login">login</a>
                    </div>
                </div>
                {{/if}}
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            "That's just like your opinion man." The Dude
        </footer>
    </div>

    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>