<section>
  <h2>Create a Review For {{title}}</h2>

  <form class="reviewSubmit">
    <div>
      <label for="review-title">What's Your Opinin, Man?</label>
      <input type="text" id="review-title" name="review-title" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if reviews.length}}
<section>
  <h2>Your Reviews</h2>
  <ol>
    {{#each reviews as |review|}}
    <li>
      {{> book-info book}}
      <a href="/dashboard/edit/{{review.id}}" class="edit-link">Edit Review</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-review.js"></script>