<section>
  <h2>Create a Review For {{title}}</h2>

  <form class="new-review-form">
    <div>
      <label for="review-title">What's Your Opinin, Man?</label>
      <input type="text" id="Review-title" name="Review-title" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if Reviews.length}}
<section>
  <h2>Your Reviews</h2>
  <ol>
    {{#each Reviews as |Review|}}
    <li>
      {{> Review-info Review}}
      <a href="/dashboard/edit/{{Review.id}}" class="edit-link">Edit Review</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/public/javascript/add-review.js"></script>