
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
<Title class ="title">
Bestest Book Review Site Evers
</Title>


<ol class=" container review-list">
  {{#each books as |book|}}
  <li>
    {{!-- NOT NEEDED --}}
    {{!-- {{> book-info book }} --}} 
    
    <article class="review">
      <div class="title">
        <a href="bookReview/{{book_id}}">{{title}} By: {{author}} </a>
      </div>
    </article>

  </li>
  {{/each}}
</ol>


