<h1>Bestest Book Review Site Evers</h1>

<ol class="review-list">
  {{#each books as |book|}}
  <li>
    {{> book-info book }}
    {{!-- {{#each review as |review|}}
    {{/each}} --}}
  </li>
  {{/each}}
</ol>


