<h1>Bestest Book Review Site Evers</h1>

<ol class="review-list">
  {{#each books as |book|}}
  <li>
    {{!-- NOT NEEDED --}}
    {{!-- {{> book-info book }} --}} 
    
    <article class="review">
      <div class="title">
        <a href="bookReview/{{bookId}}">{{title}} By: {{author}} </a>
      </div>
    </article>

  </li>
  {{/each}}
</ol>


